name: CI
on: [ push ]
jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Yarn Install
        uses: borales/actions-yarn@v2.3.0
        with:
          cmd: install
      - name: Schema Validation of Areas
        uses: borales/actions-yarn@v2.3.0
        with:
          cmd: validate
